
<div class='container'>
  <ul>
    <li>
      <a class='normal' href='#'>
        <div>PHP</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>熟练掌握</h3>
        <p>PHP基础</p>
        <p>ThinkPHP</p>
        <p>TCP/IP协议</p>
        <p>Apacache配置</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div style='left:0;width:100%;'>MySql</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>熟练掌握</h3>
        <p>MySql常用优化</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div>Linux</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>熟悉</h3>
        <p>Linux常用命令</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div>前端</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>熟练掌握</h3>
        <p>HTML</p>
        <p>CSS</p>
        <p>Jquery</p>
        <p>JavaScript</p>
        <p>SVG</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div>Python</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>熟悉</h3>
        <p>Django</p>
        <p>Scrapy</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div>设计</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>熟练掌握</h3>
        <p>PhotoShop</p>
        <p>Illustrator</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div>数据结构</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>了解</h3>
        <p>数据结构</p>
        <p>常用算法</p>
      </div>
    </li>
    <li>
      <a class='normal' href='#'>
        <div>AI</div>
        <svg viewBox='0 0 201 201' xmlns="http://www.w3.org/2000/svg"><rect class='path' /></svg>
      </a>
      <div class='info'>
        <h3>人工智能</h3>
        <p>关注</p>
      </div>
    </li>
  </ul>
</div>
