#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff
  margin-top 10px

#foot
  height 50px
  text-align: center
  #cnzz_stat_icon_1277138807
    a
      color: #fff